body{
    font-family: Georgia;
    background-color: #FFF;
    
}
h1{
    letter-spacing: 5px;
    color: #F78D3F;
    font-size: 50px;
    letter-spacing: 15px;
    margin-bottom: 0px;
    margin-left: 30px;
    margin-top: 10px
}
h2{
    color: #2BBBD8;
}
p{
    padding: 0px;
    color: #102E37;
    font-size: 18px;
}
a{
    text-decoration: none;
}
a:hover{
    color:#000;
}
a:link{
    color: #FCD271;
}
a:visited{
    color:  #FCD271;
}
a:active{
    color: #FCD271;
}
header{
    margin-top: 30px;
}
nav {
    margin-top: 0px;
    margin-left: 10px;
    word-spacing: 50px;
    font-size: 20px;
    letter-spacing: 3px;
}
footer{
    position: absolute;
    bottom: 0;
}
#about{
    float: left;
}
#portfolio{
    float: left;
}
#contact{
    float: left;
}
#abouttitle{
    margin-left: 50px;
    margin-top: 50px;
    letter-spacing: 3px;
}
#aboutinfo{
    margin-left: 50px;
    width: 350px;
}
#porttitle{
    margin-left: 50px;
    margin-top: 50px;
    letter-spacing: 3px;
}
#portinfo{
    margin-left: 50px;
    width: 350px;  
}
#contacttitle{
    margin-left: 50px;
    margin-top: 50px;
    letter-spacing: 3px;
}
#contactinfo{
    margin-left: 50px;
    width: 350px;
}
